html
{
	min-height: 100%;
	background: radial-gradient(circle, rgba(255,255,0,.85), #FFFFFF);
}
h1{
	text-align: center;	
}
h2
{
	color: blue;
}
pre
{
	font-size: 1.3em;
	background-color: #FFFF00;
	color: #000000;
	border: 1px solid #CCCC00;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 3px 3px gray;
}
li{
	list-style-position: inside;
	list-style-image: url("../images/fleche2.jpg");
}
footer
{
	padding-top: 20px;
	width: 100%;
	text-align: center;
}