html
{
	min-height: 100%;
	background: radial-gradient(circle, rgba(50,50,50,.85), #FFFFFF);
}
h1{
	text-align: center;	
}
h2
{
	color: red;
}
pre
{
	background-color: #000000;
	color: #FFFFFF;
	border: 1px solid #333333;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 3px 3px white;
}
li{
	list-style-position: inside;
	list-style-image: url("../images/fleche2.jpg");
}